* {
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace;
}

a {
  text-decoration: none;
}

.color-circle {
  position: absolute;
  box-sizing: border-box;
  width: 150px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.color-circle:hover {
  width: 160px;
  box-shadow: 0px 0px 0px 8px #4f4f51;
  cursor: pointer;
  filter: brightness(180%);
}

.stage-info {
  position: absolute;
  left: 170px;
  top: 340px;
  width: 300px;
  color: #888;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  transition: all 1s ease;
}

#integral-circle {
  margin-top: -40px;
  width: 160px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#integral-circle:hover {
  box-shadow: 0px 0px 0px 8px #4f4f51;
  cursor: pointer;
  filter: brightness(180%);
}

.stage-text {
  position: absolute;
  margin-left: 780px;
  margin-right: 80px;
  color: #888;
  font-size: 20px;
  transition: all 0.3s ease;
}

.beige-text .stage-text-heading {
  color: #6c6753;
}
.purple-text .stage-text-heading {
  color: #5c5672;
}
.red-text .stage-text-heading {
  color: #6d3130;
}
.blue-text .stage-text-heading {
  color: #1e4e5a;
}
.orange-text .stage-text-heading {
  color: #ac5e2e;
}
.green-text .stage-text-heading {
  color: #3e6c3d;
}
.yellow-text .stage-text-heading {
  color: #96792b;
}
.turquoise-text .stage-text-heading {
  color: #0c6c68;
}

@media screen and (max-width: 1500px) {
  .stage-text {
    z-index: 10;
    width: 100%;
    margin-top: 730px;
    margin-left: 0;
    margin-right: 5%;
    padding: 0px 100px;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .stage-text-heading {
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  .stage-text {
    padding: 0px 40px;
  }
}
